@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
	padding: 0;
    color: #2a2a2a;
    background: #5a5a5a;
    font-family: verdana, helvetica, arial, sans-serif; /* replace with your choice of font-family list from Dreamweaver or elsewhere */
    font-size: 20px;
    line-height: 150%;  /* adjust as needed */	
}	



/* Style the top navigation bar */
.site-header {
  overflow: hidden;
  background-color: #00693C;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Style the topnav links */
.sitenav a {
  float: left;
  display: block;
  color: #FFFFF1;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  background-color: #00693C;
}

/* Change color on hover */
.sitenav a:hover {
  background-color: #e9b44c;
  color: #00693C;
}
.logo-container {
	display: flex;
	float: left;
    flex-direction:; /* Stacks children vertically (icon on top of text) */
    align-items: center; /* Centers the icon and text horizontally within the container */
  	text-decoration: none; /* If you wrap in an anchor tag */
	justify-content: center;
	min-height: 100%;
	padding: 10px 10px 0px 10px;
	color: #e9b44c;
}
.logo-index {
	display: flex;
	float: center;
    /* Stacks children vertically (icon on top of text) */
    align-items: center; /* Centers the icon and text horizontally within the container */
  	text-decoration: none; /* If you wrap in an anchor tag */
	justify-content: center;
	min-height: 100%;
	padding: 10px 10px 10px 10px;
	color: #e9b44c;
}
.site-name{
	font-size: 24px;
}
.logo-container i{
	margin: 10px;
}

/* Style the top navigation bar */
.page-header {
  overflow: hidden;
  background-color: #7FD1B9;
  color: #00693c
  
}

/* Style the topnav links */
.page-header a {
  float: ;
  display: ;
  color: #000000;
  text-align: ;
  padding: ;
  text-decoration: none;
  background-color: ;
	
}

/* Change color on hover */


/* gallery grid CSS */
        
        .gallery-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-row-gap: 100px ;
            justify-items: center;
            align-items: start;
            justify-content: space-between;
        }
                        
        .gallery-item {
            width: 200px; /*should match the width of your images + width of border (if any) */
            text-align: center;
        } 
        
    /* css for styling the p/caption under the image */       
        .gallery-item p {
            margin: .25em 0;
            line-height: 135%;
			
        }

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
body {
    margin: 0;
	background-color: #826251;
   
}
.wrapper {
	width:1000px;
	padding: 20px 40px;
	margin: auto;
	background-color: #91c7b1;
}

h1 {
	
}

h2 {

}

.wrapper a:hover {
	display: box;
	background-color: #7fd1b9;
	color: #000000;
	text-decoration: none;
}

.wrapper p a {
 /* display:box; */
 /* background-color: #e9b44c; */
 color: #00693C;
}
.wrapper li a {
 color: #00693C;
}

table {
  border-collapse: collapse;
	width: 100%;
}
td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}



.lead-display {
	width: 900px;
	height: 675px;
	background-image: url("images/twp-lead-image.jpg");
	position: relative;
}

.lead-display h1{
	background:red;
	font-size: 3em;
	width: 100%;
	padding: 1em 0;
	margin: 0;
	position: absolute;
	bottom: 5px;
	left: 0;
}








